body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #151c22;
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0 35px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.site-navigation-item {
  padding: 25px 0;
}

.main-header-logo {
  padding: 25px 0 20px;
  margin: auto;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0 35px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.user-navigation-item {
  padding: 20px 0;
}

.link-item {
  text-decoration: none;
}

.main-header-nav-wrapper {
  display: flex;
  justify-content: flex-start;
}

.promo {
  background-color: #f1f2f4;
}

.promo-wrapper {
  display: flex;
  justify-content: flex-start;
}

.promo-text-column {
  width: 520px;
}

.promo-text {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 128px;
  line-height: 188px;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 30px;
}

.black-button {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #151c22;
  padding: 18px 50px;
}

.promo-img-column {
  width: 430px;
  padding: 50px 50px;
}

.bestsellers {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 270px;
}

.catalog-item-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.new-collection {
  padding-bottom: 90px;
}

.new-collection-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.new-collection-text-column {
  width: 400px;
  padding: 30px 30px 30px 60px;
  background-color: #f1f2f4;
}

.new-collection-img-column {
  width: 700px;
}

.categories {
  padding-bottom: 90px;
}

.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #151c22;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  width: 525px;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  list-style: none;
}

.footer-navigation-link {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  width: 240px;
  margin: auto;
  padding: 0;
  list-style: none;
}

.main-footer-logo {
  padding: 25px 0 20px;
  margin: auto;
}

.footer-navigation-item {
  padding: 20px 15px;
}

.social-item {
  padding: 20px 15px;
}

// Внутренняя страница

.catalog-header-wrapper {
  background-color: #f1f2f4;
  padding-top: 70px;
  padding-bottom: 45px;
}

.breadcrumbs {
  display: flex;
  gap: 0 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filters {
  text-align: right;
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 50px;
}

.catalog-list-compact {
  gap: 52px 66px;
}

.catalog-item-compact {
  width: 243px;
}

.catalog-slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 155px;
}

// Карточка товара

.card {
  // background-image: linear-gradient(to right, #ffffff, #f1f2f4 50%);
  margin-top: 50px;
}

.card-wrapper {
  display: flex;
  justify-content: flex-start;
}

.card-photos-column {
  width: 600px;
  background-color: #ffffff;
}

.card-description-column {
  width: 570px;
  color: #151c22;
}

.card-photo-full {
  margin-top: 0;
  margin-bottom: 0;
}

.card-photo-preview {
  display: flex;
  justify-content: flex-start;
  gap: 20px 20px;

  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.simalar {
  padding-top: 90px;
  padding-bottom: 90px;
}
